/* .about-us {
	border-radius: 10px;
	color: #cd5c5c;
}
.about-us h1 {
	font: var(--title-font);
	text-shadow: var(--text-shadow-light);
}
.about-us hr {
	color: #cd5c5c;
	opacity: 0.75;
}
.figure-caption {
	color: #cd5c5c;
} */
