.contact-us h1 {
	font: var(--title-font);
	text-shadow: var(--text-shadow-dark);
}

.contact-address h4 {
	font: var(--medium-font);
}
.contact-address {
	border-radius: 10px;
	color: var(--tertiary-color);
	width: 50%;
}

.contact-address a {
	color: cornflowerblue;
}
