/*===► hero image caption and button ◄===*/
.hero-caption-group p {
	font-size: 20px;
}

.ripple-effect2 {
	position: relative;
	/* background-color: #04aa6d; */
	font-weight: 500;
	font-size: 20px;
	color: #ffffff;
	padding: 0;
	width: 150px;
	text-align: center;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
}
.ripple-effect2:hover {
	color: #333;
}
.ripple-effect2:after {
	content: '';
	background: #333;
	display: block;
	position: absolute;
	padding-top: 300%;
	padding-left: 350%;
	margin-left: -20px !important;
	margin-top: -120%;
	border-radius: 10px;
	opacity: 0;
	transition: all 0.8s;
}
.ripple-effect2:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s;
}
