.hero-slides {
	width: 100vw;
}

.hero-slides .carousel-caption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
}

.hero-slides h2 {
	font: var(--normal-font);
	text-shadow: var(--text-shadow-dark);
}
/*,',=== =>992px lg:tablet ===*/
@media screen and (min-width: 576px) {
	.hero-slides h2 {
		font: var(--medium-font);
		text-shadow: var(--text-shadow-dark);
	}
}
@media (min-width: 992px) {
	.hero-slides h2 {
		font: var(--title-font);
		text-shadow: var(--text-shadow-dark);
	}
}
/*,',=== =>576px sm:iphone12 ===*/
