/*===INFO:► custom variables => transfer these colors to them colors if you want to use them outside of this file ◄===*/

/*===► default colors ◄===*/

/*=== colors i might use ◄===*/
$charcoal: #333;
$white: #fff;
$indianred: #cd5c5c;
$blue: #0f117a;
$sky: rgb(100, 149, 237);
$black: #000000;
$lime: rgb(0, 255, 0);
$darkorange: #ff8c00;
$transparent: transparent;

/*===INFO:► colors with purpose ◄===*/

/* theme colors */
$color1: $white; //background-1, text-2
$color2: $charcoal; //background-2, text-1
$color3: $indianred;
$color4: $black;
$color5: $sky;
$color6: $blue;
$color7: $lime;

/*,,'===D=I=V=I=D=I=N=G===L=I=N=E=== === ===*/
/*===START:► Override default variables before the import ◄===*/

/*===INFO:► colors and default theme colors ◄===*/

$theme-colors: (
	// colors
	'black': $black,
	'white': $white,
	'charcoal': $charcoal,
	'indianred': $indianred,
	'blue': $blue,
	'sky': $sky,
	'lime': $lime,
	'darkorange': $darkorange,
	'transparent': $transparent,

	// theme colors ►
	// background-1, text-2
	'color1': $color1,
	// background-2, text-1
	'color2': $color2,
	'color3': $color3,
	'color4': $color4,
	// navbar link text
	'color5': $color5,
	'color6': $color6,
	'color7': $color7
);
/*===START:► utilities ◄===*/

/*===INFO:► shadows ◄===*/
$box-shadow: 0 0.5rem 1rem rgba(black, 0.15);
$box-shadow-sm: 0px 2.5px 10px 3px rgba(0, 0, 0, 0.75);
$box-shadow-inset: inset 0 1px 2px rgba(black, 0.075);
$box-shadow-lg: 0px 5px 10px 3px rgba(0, 0, 0, 0.75);
$box-shadow-sky: 0px 5px 20px 3px rgba(100, 149, 237, 0.75);
$box-shadow-lime: 0px 5px 20px 5px rgba(0, 255, 0, 0.75);

/* text */
$shadow-text-white: 1.5px 1.5px 3px rgba(255, 255, 255, 0.75);
$shadow-text-black: 1.5px 1.5px 3px rgba(0, 0, 0, 0.75);
$shadow-text-lime: 1.5px 1.5px 3px rgba(0, 255, 0, 0.75);
$shadow-text-nav: 0.5px 0.5px 3px rgba(0, 0, 0, 0.75);

$utilities: (
	'shadow': (
		property: box-shadow,
		class: shadow,
		values: (
			null: $box-shadow,
			sm: $box-shadow-sm,
			lg: $box-shadow-lg,
			sky: $box-shadow-sky,
			lime: $box-shadow-lime,
		),
	),
	'shadow-text': (
		property: text-shadow,
		class: shadow-text,
		values: (
			white: $shadow-text-white,
			black: $shadow-text-black,
			lime: $shadow-text-lime,
			nav: $shadow-text-nav,
		),
	),
);

/*===INFO:► grid breakpoints ◄===*/
$grid-breakpoints: (
	xs: 0,
	xsm: 375px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
	xxxl: 2560px,
);

/*===INFO:► options ◄===*/
$enable-shadows: true;
$enable-negative-margins: true;
$enable-gradients: true;
$enable-important-utilities: false;

/*===INFO:► typography ◄===*/
$headings-font-family: 'Arial Black', 'Arial', 'Roboto', sans-serif;
$sm-font: normal normal 400 normal 16px/1.6 'Roboto', sans-serif;
$md-font: normal normal 500 normal 28px/1.6 'Roboto', sans-serif;
$lg-font: small-caps 700 expanded 48px/1.6 'Arial Black', 'Arial', 'Roboto', sans-serif;

/*===INFO:► globals ◄===*/
$body-bg: $color1;

body {
	font: $md-font;
	width: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

/*,',===INFO:► media-queries ◄===*/

/*,',=== =>375px xs:iphone11Pro  ===*/
//  @media screen and (min-width: 375px) {

// }

/*,',=== =>576px sm:iphone12 ===*/
// @media screen and (min-width: 576px) {

// }

/*,',=== =>768px md:tablet ===*/
/* @media (min-width: 768px) {

} */

/*,',=== =>992px lg:tablet ===*/
@media (min-width: 992px) {
	/*===► hero image caption and button ◄===*/
	.home-hero-slides .hero-caption-group p {
		font-size: 40px;
	}
	.hero-caption-group .ripple-effect1,
	.hero-caption-group .ripple-effect2,
	.hero-caption-group .ripple-effect3 {
		font-weight: 700;
		font-size: 32px;
		padding: 20px 20px;
		width: 250px;
	}
}

/*,',=== =>1400px xl:laptop ===*/
/* @media (min-width: 1200px) {

} */

/*,',=== =>1700px xxl:desktop ===*/
/* @media (min-width: 1700px) {

} */

/*,',=== =>2560px xxxl:desktop+ ===*/
/* @media (min-width: 2560px) {

} */
/*===START:► page colors for theming if wanted to later ◄===*/
// .dark-mode {
// 	background-color: #333;
// 	color: $white;
// }
// body.dark-mode .home-card-group div,
// body.dark-mode nav.my-nav-bar .navbar-nav a,
// body.dark-mode nav.my-nav-bar .navbar-nav .dropdown-menu,
// body.dark-mode nav.my-nav-bar {
// 	background: #333;
// 	color: $white;
// }
/*===INFO:► Page: Utilities/Components ◄===*/
/*===INFO:► Page: Home ◄===*/
// body.dark-mode main .my-contact-form,
// body.dark-mode main .card-body {
// 	color: $black;
// }
// body.dark-mode main .home-contact-section .big-logo {
// 	box-shadow: $box-shadow-lime;
// }

// body.dark-mode footer {
// 	background: $black;
// 	color: $white;
// }

// body.logo-background-mode {
// 	background: url('./assets/images/dark.svg');
// 	background-position: center fixed;
// 	background-repeat: no-repeat;
// 	background-size: cover;
// }
// body.dark-mode .home-card-group div .card-text,
// body.dark-mode .home-card-group div button,
// body.dark-mode .about-section p,
// body.logo-background-mode .about-section p,
// body.logo-background-mode .about-section {
// 	color: $white;
// 	z-index: 99;
// }
// .home-card-group div button:hover,
// body.logo-background-mode .home-card-group .card-footer button:hover,
// body.dark-mode .home-card-group .card-footer button:hover {
// 	color: $lime;
// }
// body.logo-background-mode .home-card-group,
// body.logo-background-mode .home-card-group div.card-body,
// body.logo-background-mode .home-card-group .card-footer,
// body.logo-background-mode .home-card-group .card-footer button {
// 	background: $charcoal;
// 	color: $white;
// }
// .big-logo:hover {
// 	transform: scale(1.1);
// }
/*===INFO:► Page: About ◄===*/
/*===INFO:► Page: Services ◄===*/
/*===INFO:► Page: Contact ◄===*/
/*===INFO:► Page: Reviews ◄===*/

/*===REQUIRED:► Import Bootstrap and its default variables ◄===*/
@import '~bootstrap/scss/bootstrap.scss';
// Required
// @import '../node_modules/bootstrap/scss/variables';
// @import '../node_modules/bootstrap/scss/mixins';
